$color-primary: #ffb618;
$color-primary-light: lighten(#ffb618 ,5%);
$color-primary-dark: darken(#ffb618 ,15%);
$color-secondary: #f3f4f7;
$color-white: #ffffff;

$box-shadow-low-elevated: 0 4px 8px rgba(0, 0, 0, 0.1) ;
$box-shadow-high-elevated: 0 10px 15px rgba(0, 0, 0, 0.2);
$box-shadow-card: 10px 23px 45px -3px rgba(0,0,0,0.1);


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    padding: 40px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 1.8;
  }
  
  .container {
    height: 100%;

    .card {
        transform: translate(-50%, -50%);
        position: absolute;
        top:50%;
        left:50%;
        backface-visibility: hidden;
        width: 375px;

        .titleBox {
          position: relative;
          margin-bottom: 15px;

          h1 {
            display: block;
            font-size: 30px;
            text-align: center;
          }

          span {
            display: block;
            text-align: center;
            font-size: 0.75rem;
            text-transform: uppercase;
          }
        }

        .form-box {  
            padding: 30px;
            border-radius: 30px;
            box-shadow: $box-shadow-card;                 
            animation: fadeIn 0.5s ease-out;
             
            .formSection {
            position: relative;
            margin-bottom: 20px;

            .inputForm {
              display:block;
              font-size: 16px;
              padding: 10px 10px 10px 5px;
              width:100%;
            
              &:focus {
                outline:none;
              }
            
              &:focus + .labelForm,
              &:valid + .labelForm {
                top: -10px;
                font-size: 12px;
                color:#5264AE;
              }
           
            }

          .labelForm {
              background-color:#fff;
              padding:0 2px 0 2px;
              color:#888;
              font-size:16px;
              font-weight:normal;
              position:absolute;
              pointer-events:none;
              top:5px;
              left:5px;
              transition: .2s ease all; 
                }
            }
        }
    }     
  }

  .inputForm::-webkit-outer-spin-button,
.inputForm::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputForm {
  -moz-appearance: textfield;
}

/* Hasil */

.hasil {
  display: block;
  position: relative;

  .hargaAkhirBox {
    position: relative;
    margin-top: 50px;
    margin-bottom: 10px;

    h3 {
      display: block;
      text-align: center;
    }

    #harga-akhir {
      display: block;
      text-align: center;
      font-size: 2rem;
      font-weight: 700;
    }
  }

  ul {

    li {
      list-style: none;
      margin-bottom: 10px;
      display: block;

      .title-input {
        padding: 5px 10px;
        background-color: $color-secondary;
        border-radius: 4px;
        font-size: .5rem;
        font-weight: 600;
        text-transform: uppercase;
      }

      .hasil-input {
        font-size: .75rem;
        text-transform: uppercase;
      }
    }

  }

}

  /* Button Primary */
  .btn-primary,
  .btn-primary:visited {
    background-color: $color-primary;
    color: #ffffff;
    font-weight: 700;
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 10px;
    box-shadow: $box-shadow-low-elevated;
    border: none;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        background-color: $color-primary-light;
        transform: translateY(-2px);
        box-shadow: $box-shadow-high-elevated;
    }
      
    &:active {
    background-color: $color-primary-dark;
    transform: translateY(0);
    box-shadow:none;
    }
  }
  
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 100;
      transform: translateX(0);
    }
  }
  
  
  
  
  
  
  
  
  /* Responsive */
  @media only screen and (max-width: 600px) {
  
    .container {
      width: 100%;

      .card {
        width: 100%;
        top:40%;
        left:50%;

        .form-box {
            box-shadow: none;
            border-radius: 0%;
          }
        
        h1 {
        padding-bottom: 1rem;
        line-height: 1.2;
        text-align: left;
        }
      }
    }

  }