
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 40px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8;
}

.container {
  height: 100%;
}


.card {
  transform: translate(-50%, -50%);
  position: absolute;
  top:50%;
  left:50%;
  backface-visibility: hidden;
}

.form-box {

  padding: 40px;

  border-radius: -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;

   box-shadow: -webkit-box-shadow: 10px 23px 45px -3px rgba(0,0,0,0.25);
  -moz-box-shadow: 10px 23px 45px -3px rgba(0,0,0,0.25);
  box-shadow: 10px 23px 45px -3px rgba(0,0,0,0.25);


  animation: fadeIn 0.5s ease-out;
}

h1 {
  display: block;
  font-size: 40px;
  text-align: center;
}

.formSection {
  margin-bottom: 20px;
}

.labelForm {
  display: block;
}

/* Button Primary */
.btn-primary,
.btn-primary:visited {
  background-color: #e69f07;
  color: #ffffff;
  font-weight: 700;
  width: 100%;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 10px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;
  transition: all .2s;
}

.btn-primary:hover {
  background-color: #ffb618;
  transform: translateY(-2px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.btn-primary:active {
  background-color: #c78a05;
  transform: translateY(-1px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 100;
    transform: translateX(0);
  }
}





input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}







/* Responsive */
@media only screen and (max-width: 600px) {

  .container {
    width: 100%;
  }

  .card {
    width: 100%;
    top:40%;
    left:50%;
  }

  .form-box {
    box-shadow: none;
    border-radius: 0%;
  }

  h1 {
    padding-bottom: 1rem;
    line-height: 1.2;
    text-align: left;
  }
}
